/*backgrounds*/
body {
background-color: #EFEEEA;
font-size: 16px;
}

.header-pic{
background-image: url("/img/background2.jpg");
background-position:center;
background-repeat:no-repeat;
height:30vw;
width:100vw;
padding: 1em;
background-size: cover;
}

.black-background{
background-color: #40383B;
}

/*main headings styles*/
h1 {
font-size: 5vw;
font-family: 'Lato', sans-serif;
font-weight: bold;
letter-spacing: 0.1em;
color: #fff;
text-align: center;
text-shadow: 0 1px 0 black;
background: rgba(0, 0, 0, 0.75);
}

h2 { 
color: #fe921f; 
text-align: left;
font-family: 'Lato', sans-serif; 
font-size: 3em; 
font-weight: 300; 
line-height: 4vw; 
margin: 0.5em 0.5em 0;
padding: 0.8em 0 0.5em;
text-shadow: 0 2px 0 black; 
}

/**media queries up to 767px width**/

@media only screen and (max-width: 767px) {
  h2 {
      font-size: 1.5em;
  }
  p {
      font-size: 1em !important;
  }
}

/**galery text styles**/

.gallery {
color: #40383B;
text-shadow: 0 2px 0 black;;
}

/**paragraphs styling**/

p { 
    color: #adb7bd;
    font-family: Arial, sans-serif;
    font-size: 1.6em;
    line-height: 2em;
    margin: 0em 1em 1.9em 1em;
    text-align: left;
}

/**links styling**/

a { 
color: #fe921f; 
text-decoration: underline;
}

a:hover { 
color: #ffffff 
}

/**Gallery pictures hover**/

.photoset-grid-basic{
position: relative;
}

.image {
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle4 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #40383B;
  color: white;
  font-size: 1.5vw;
}


.photoset-grid-basic:hover .middle1 {
  opacity: 1;
}

.photoset-grid-basic:hover .middle2 {
  opacity: 1;
}

.photoset-grid-basic:hover .middle3 {
  opacity: 1;
}

.photoset-grid-basic:hover .middle4 {
  opacity: 1;
}

.photoset-grid-basic:hover .middle5 {
  opacity: 1;
}

.photoset-grid-basic:hover .image {
  opacity: 0.8;
}

/**Link to id's on pictures**/

.linktopic {
    text-decoration: none;
}

/**link to my github in built by**/

.credits{
color:#777;
text-decoration: none;
}


/**footer styles**/

.navbar-default {
    background-color: #000000;
    background: rgba(0, 0, 0, 0.75);
    border-color: #e7e7e7;
    height: 3.3vw;
}

span.navbar-text{
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin-right: 0.1vw;
    margin-left: 0.1vw;
    margin-top: 0.9vw;
    margin-bottom: 0.1vw;
}

.navbar{
    min-height: 3.3vw;
}

.list-inline>li {
    display: block;
    text-align: center;
}

.container{
    width: 99%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 1px;
    margin-left: 1px;
}

p.validator-css{
    text-align: right;
    margin-top: 0.15vw;
}

/**map rendering styles**/
div#map {
    min-height: 80vw;
}