/*body background*/
body {
background-color: silver;
}

.black-background{
background-color: black;
}

/*headings, paragraphs and links styles*/
h1 {
    font-size: 6vw;
    font-family: "raleway", sans-serif;
    color: #000;
    text-align: center;
}

h2 { 
color: #fe921f; 
text-align: left;
font-family: 'Lato', sans-serif; 
font-size: 3vw; 
font-weight: 300; 
line-height: 4vw; 
margin: 0 0 4vw; 
}

p { 
color: #adb7bd; 
font-family: 'Lucida Sans', Arial, sans-serif; 
font-size: 1.5vw; 
line-height: 2vw; 
text-indent: 2vw; 
margin: 0; 
text-align: left;
margin-bottom: 4.5vw
}


a { 
color: #fe921f; 
text-decoration: underline;
}


a:hover { 
color: #ffffff 
}

a.col-xl-12.col-sm-12.col-xs-12.col-xl-6.col-sm-6.col-xs-6 {
    padding: 0, 0;
}

