/*backgrounds*/
body {
background-color: #EFEEEA;
}

.header-pic{
background-image: url("/img/background.jpg");
background-position:center;
background-repeat:no-repeat;
height:40vw;
width:100vw;
background-size: cover;
}

.black-background{
background-color: #40383B;
}

/*headings, paragraphs and links styles*/
h1 {
font-size: 5vw;
font-family: 'Marck Script', sans-serif;
font-style: italic;
color: #fff;
text-align: center;
text-shadow: 0 1px 0 black;
background: rgba(0, 0, 0, 0.75);
}

h2 { 
color: #fe921f; 
text-align: left;
font-family: 'Marck Script', sans-serif; 
font-size: 3vw; 
font-weight: 300; 
line-height: 4vw; 
margin: 1vw 1vw 1vw;
text-shadow: 0 2px 0 black; 
}

.gallery{
color: #40383B;
text-shadow: 0 2px 0 black;;
}
p { 
color: #adb7bd; 
font-family: 'Lucida Sans', Arial, sans-serif; 
font-size: 1.5vw; 
line-height: 2vw; 
text-indent: 2vw; 
margin: 0; 
text-align: left;
margin-bottom: 4.5vw
}


a { 
color: #fe921f; 
text-decoration: underline;
}


a:hover { 
color: #ffffff 
}

a.col-xl-12.col-sm-12.col-xs-12.col-xl-6.col-sm-6.col-xs-6 {
    padding: 0, 0;
}

