/*backgrounds*/
body {
    background-color: #EFEEEA;
    font-size: 16px;
}

.header-pic{
    background-image: url("../img/background2.jpg");
    background-position:center;
    background-repeat:no-repeat;
    height:30vw;
    padding: 1em;
    background-size: cover;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.black-background{
    background-color: #40383B;
}

/*rows margins*/
.row {
    margin-right: 15px;
    margin-left: 15px;
}

/*main headings styles*/
h1 {
    font-size: 3vw;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 black;
    background: rgba(0, 0, 0, 0.75);
}

h2 { 
    color: #055777; 
    text-align: left;
    font-family: 'Lato', sans-serif; 
    font-size: 2em; 
    font-weight: 700; 
    line-height: 1em; 
    margin: 0.5em 0.5em 0;
    padding: 0.8em 0 0.5em; 
}

#price {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 3em;
}

h3{
    margin-bottom: 2em;
    line-height: 2em;
    font-size: 1.5em;
}

.about{
    margin-bottom: 1em;
    margin-left: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

svg {
    width: 1em;
}

/**media queries h3 up to 1024px width**/
@media only screen and (max-width: 1024px) {
h3 {
      font-size: 1em;
  }
}

/**media queries h2 up to 767px width**/

@media only screen and (max-width: 767px) {
  h2 {
      font-size: 1.5em;
  }
}

/**galery styles**/
.gallery {
    color: #40383B;
    text-shadow: 0 2px 0 black;;
}

.img-thumbnail{
    border-radius: 2em;
    max-width: 100%;
}

/**paragraphs styling**/
p { 
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: 0em 1em 1.9em 0em;
    text-align: left;
}

.content{
    color: #ccc;
    margin: 0em 1em 1.9em 1em;
}

/**links styling**/
a { 
    color: #fe921f; 
    text-decoration: underline;
}

a:hover { 
    color: #ffffff 
}


/**Gallery pictures hover**/

#LiverpoolMarina:hover {
    opacity: 0.8;
}

#MerseyMotorBoatClub:hover {
    opacity: 0.8;
}

#StanleyDock:hover {
    opacity: 0.8;
}

#CollingwoodBoatBuilders:hover {
    opacity: 0.8;
}

#MerseyFerries:hover {
    opacity: 0.8;
}

/**Gallery alignment on 1550px+ screens**/
@media only screen and (min-width: 1550px) {

#LiverpoolMarina {
    margin-left: 9em;
}

#MerseyMotorBoatClub {
    margin-left: 9em;
}

#StanleyDock {
    margin-left: 9em;
}

#CollingwoodBoatBuilders {
    margin-left: 9em;
}

#MerseyFerries {
    margin-left: 9em;
}
}

/**Link to id's on pictures**/
.linktopic {
    text-decoration: none;
}

/**link to my github in built by**/
.credits{
    color:#999;
    text-decoration: none;
}

/**footer styles**/
.navbar-default {
    background-color: #000000;
    background: rgba(0, 0, 0, 0.75);
    border-color: #e7e7e7;
    height: 2vw;
}

span.navbar-text{
    position: absolute;
    font-size: 1vw;
    color: white;
    line-height: 1vw;
    margin-right: 0.1vw;
    margin-left: 0.1vw;
}

.navbar{
    min-height: 3.3vw;
}

.footer{
    position: sticky;
    bottom: 0;
}

.list-inline>li {
    display: block;
    text-align: center;
}

.container{
    width: 99%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 1px;
    margin-left: 1px;
}

p.validator-css{
    text-align: right;
    margin-top: 0.15vw;
}

/**map rendering styles**/
div#map {
    min-height: 50vw;
}

/**contact form**/
.form-control{
    height: 3em;
    font-size: 1em;
    display: grid;
}

.form-resizing{
    display: grid;
}

.btn{
    background-color: #055777;
    font-size: 1.3em;
    color: white;
}
select{
    height: 2em;
}